@{
  Layout="_Layout";
}

<h1>Pierre's Sweet and Savory Treats!</h1>

<h3>Here you can catalog all your wild pastry creations</h3>

<p>@Html.ActionLink("Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or Manage Account", "Index", "Account")</p>